[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-bitbake"]
	path = bundle/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake.git
[submodule "bundle/quilt"]
	path = bundle/quilt
	url = https://github.com/vim-scripts/quilt.git
[submodule "bundle/vim-per-project-settings"]
	path = bundle/vim-per-project-settings
	url = https://github.com/jpmv27/vim-per-project-settings.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/vim-man"]
	path = bundle/vim-man
	url = https://github.com/vim-utils/vim-man.git
[submodule "bundle/vim-tag-manager"]
	path = bundle/vim-tag-manager
	url = https://github.com/jpmv27/vim-tag-manager.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/jpmv27/vim-autoformat
	branch = jpmv27_master
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jpmv27/bufexplorer.git
	branch = jpmv27_master
[submodule "bundle/vim-project"]
	path = bundle/vim-project
	url = https://github.com/jpmv27/vim-project.git
	branch = jpmv27_master
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = https://github.com/jpmv27/Conque-Shell.git
	branch = jpmv27_master
[submodule "bundle/vim-less-smart-tabs"]
	path = bundle/vim-less-smart-tabs
	url = https://github.com/jpmv27/vim-less-smart-tabs.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/jpmv27/tagbar.git
	branch = jpmv27_master
[submodule "bundle/vim-bookmarks"]
	path = bundle/vim-bookmarks
	url = https://github.com/jpmv27/vim-bookmarks.git
	branch = jpmv27_master
[submodule "bundle/vim-template"]
	path = bundle/vim-template
	url = https://github.com/aperezdc/vim-template.git
[submodule "bundle/vim-easygrep"]
	path = bundle/vim-easygrep
	url = https://github.com/jpmv27/vim-easygrep
	branch = jpmv27_master
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-clean-mode"]
	path = bundle/vim-clean-mode
	url = https://github.com/jpmv27/vim-clean-mode.git
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = https://github.com/jpmv27/vim-cpp-enhanced-highlight.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/jpmv27/OmniCppComplete.git
	branch = jpmv27_master
