[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-bitbake"]
	path = bundle/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake.git
[submodule "bundle/quilt"]
	path = bundle/quilt
	url = https://github.com/vim-scripts/quilt.git
[submodule "bundle/vim-project"]
	path = bundle/vim-project
	url = https://github.com/jpmv27/vim-project.git
	branch = jpmv27_master
[submodule "bundle/vim-per-project-settings"]
	path = bundle/vim-per-project-settings
	url = https://github.com/jpmv27/vim-per-project-settings.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
